body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}
.container{
    display: block;
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 181);
    color: rgb(32, 30, 30);
    padding: px;
}
.header1 , .header2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    height: 40px;    
}

.icon{
    height: 30px;
    width: 30px;
    margin: 5px 5px 5px 5px;
}
.button{
    border: none;
    background-color: rgb(49, 49, 181);
}
.button-main{
    border: none;
    background-color: white;
    height: 40px;
    border-radius: 5px;
}
.container2{
    height: 38%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 40%;
}

.aside-right-main , .aside-left-main{
    width: 30%;
    height: 100%;
    position: relative;
}

.decorations1{
    position: absolute;
    left: 0px;
    top: 85px;
    width: 80%;
    height: 65%;
}

.decorations2{
    position: absolute;
    left: 280px;
    top: 85px;
    width: 50%;
    height: 65%;
}

h1{
    margin: 0px;
    text-align: center;
}

.pheader{
    margin:1px;
    text-align: center;
    font-size: 20px;
}
.email{
    right:50px;
    display:flex;
    border-radius: 5px;
    border: 0;
    padding: 10px; 
    width: 300px;  
}
ul{
    list-style: none;
    display: flex;  
}
.li1{
    padding-left: 30px;  
}
.boton{
    border-radius: 5px;
    color: black;
    background-color: aqua;
    right: 10px;
    border: 0;
    padding: 10px;
}
.tipo-letra{
    --tw-text-opacity: 1;
    color: rgba(9, 27, 90, var(--tw-text-opacity));
    margin-left: 30%;
} 
.containerimg{
    text-align: center;
} 
.imagen-cuadrada {
    width: 200px; 
    height: auto;
    object-fit: cover; 
    display: inline-block; 
    margin: 0 auto; 
}
.let{
    --tw-text-opacity: 1;
    color: rgba(9, 27, 90, var(--tw-text-opacity));
    margin-left: 40%; 
}
.rectangulo1{
    display: inline-block;
    width: 230px;
    height: 70%;
    margin-left: 19%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(119, 195, 230);
}
.rectangulo2{
    display: inline-block;
    width: 230px;
    height: 70%;
    margin-left: 5%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(119, 230, 208);
}
.rectangulo3{
    display: inline-block;
    width: 230px;
    height: 70%;
    margin-left: 5%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgb(194, 151, 243);
}
.imarecta{
    width: 230px;
    height: 45%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.marca{
    width: 90px;
    height: 75px;
    margin-left: 5%;
}
.resum{
    font-size: 13px;
    margin-left: 8%;
    font-family: sans-serif;
}
.nom{
    font-size: 10px;
    margin-left: 45%;
}
.nom2{
    font-size: 10px;
    margin-left: 55%;
}
.nom3{
    font-size: 10px;
    margin-left: 5%;
}